[DEFAULT]
ConnectionType=initiator
BeginString=FIX.4.4

SenderCompID=demo.pepperstone.5179095
TargetCompID=cServer
TargetSubID=QUOTE

HeartBtInt=30
ReconnectInterval=5

FileStorePath=store/QUOTE
FileLogPath=log/QUOTE

UseDataDictionary=Y
DataDictionary=/home/renierdejager/Documents/quickfix/spec/FIX44.xml

StartTime=00:00:00
EndTime=23:59:59

# SSL is typically required for cTrader FIX; keep if your venue requires it.
UseSSL=Y

[SESSION]
SessionQualifier=QUOTE
TargetSubID=QUOTE

SocketConnectHost=demo-us-eqx-01.p.c-trader.com
SocketConnectPort=5201
